.sign-up-component {
  background: #ffffff;
  border: 4px solid #8bb7c1;
  border-radius: 12px;
  text-align: center;
}

.sign-up-btn {
  background: #477a85;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5.32px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  width: fit-content !important;
  align-items: center;
  color: #f2f2f2;
  padding: 4px 14px;
  margin: 10px;
}
